@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative !important;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #7f9dab;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 30px;
    font-weight: bold;
    border-bottom: 1px solid #252525;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #ffffff;
    display: block;
}

/* .wrapper .sidebar ul li a .fas{
  width: 25px;
} */

.wrapper .sidebar ul li:hover {
    background-color: #586c75;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 10px;
    background: #1e4f66;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 120px;
    width: 120px;
}

.log-out {
    background-color: #e25355;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    align-self: flex-end;
}

.log-out:hover {
    background-color: #e74c3c;
    transform: translateY(-2px);
}

.wrapper .main_content .info {
    margin: 20px;
    color: #161616;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

.edit-icon:hover {
    color: #666;
}

.profile-heading {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 57px;
}

@media (max-height: 500px) {
    .social_media {
        display: none !important;
    }
}

.line {
    width: 0.5px;
    height: 80%;
    background-color: #000000;
    margin: 0 20px;
    margin-top: 40px;
}

.notification {
    display: flex;
    align-items: center;
    margin-right: 10px;
    align-self: flex-end;
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 0px;
}

.profile {
    padding-right: 20px;
    padding-left: 20px;
}

.profile-button {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 10px;
    align-self: flex-end;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.profile-button i {
    margin-right: 10px;
}

.profile-button:hover {
    background-color: #ccc;
    color: #fff;
    border-color: #999;
}

.wrapper .sidebar ul li.attendance {
    background-color: #586c75;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.notify-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 12px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.3s;
}

.notify-btn:hover {
    background-color: #999;
}

.notify-btn i {
    color: #333;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 30px;
    z-index: 999;
    width: 400px;
    height: 500px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}
.popup-content {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-content p {
    font-size: 20px;
    margin: 10px 0;
}
.name {
    font-weight: bold;
}

.image-container {
    margin-bottom: 20px;
}

.popup-image {
    max-width: 100%;
    max-height: 100px;
}
.popup-content .edit-profile a {
    text-decoration: none;
    color: black; /* Change the color as needed */
}
.popup-content .edit-profile a:hover {
    text-decoration: underline;
    color: darkblue; /* Change the color as needed */
}

.attendance-content {
    padding: 35px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
}
.view-buttons {
    padding-left: 30px;
}

.view-buttons button {
    padding: 15px 40px;
    background-color: #f6af43;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}
.view-buttons button:hover {
    background-color: #0056b3;
}

.attendance-correction {
    padding: 35px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;

    margin-top: 30px;
    border-radius: 10px;
}

.view-requests {
    padding-top: 20px;
    text-align: left;
}

.view-requests button {
    padding: 15px 40px;
    background-color: #f6af43;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.view-requests button:hover {
    background-color: #0056b3;
}
.records-container {
    display: none;
    position: fixed;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
}

.records-table {
    width: 100%;
    border-collapse: collapse;
}

.records-table th,
.records-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.records-table th {
    background-color: #f6f6f6;
    color: #333;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}
.requests-container {
    display: none;
    position: fixed;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
}

.requests-table {
    width: 100%;
    border-collapse: collapse;
}

.requests-table th,
.requests-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.requests-table th {
    background-color: #f6f6f6;
    color: #333;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #888;
}

.close-btn:hover {
    color: #555;
}
